body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-269px;
  width:1641px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1527px;
  height:155px;
  background:inherit;
  background-color:rgba(0, 50, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:0px;
  width:1527px;
  height:155px;
  display:flex;
  font-size:36px;
  color:#FFFFFF;
}
#u776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:858px;
  background:inherit;
  background-color:rgba(0, 50, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:231px;
  width:383px;
  height:858px;
  display:flex;
  font-size:36px;
  color:#FFFFFF;
}
#u777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:141px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:487px;
  width:262px;
  height:141px;
  display:flex;
  font-size:28px;
}
#u778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:476px;
  width:140px;
  height:40px;
  display:flex;
}
#u779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:396px;
  width:1111px;
  height:57px;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:211px;
  height:30px;
  display:flex;
}
#u790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:27px;
  display:flex;
}
#u791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:27px;
  display:flex;
}
#u792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:27px;
  display:flex;
}
#u793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:27px;
  display:flex;
}
#u794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:27px;
  display:flex;
}
#u795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:27px;
  display:flex;
}
#u796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:27px;
  display:flex;
}
#u797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:27px;
  display:flex;
}
#u798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:27px;
  display:flex;
}
#u799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:27px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:30px;
  width:211px;
  height:27px;
  display:flex;
}
#u800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:1635px;
  top:425px;
  width:73px;
  height:18px;
  display:flex;
}
#u801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u802_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:350px;
  width:300px;
  height:25px;
  display:flex;
}
#u802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u802_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802.disabled {
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:342px;
  width:140px;
  height:40px;
  display:flex;
}
#u803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#D9001B;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:286px;
  width:390px;
  height:34px;
  display:flex;
  font-size:30px;
  color:#D9001B;
}
#u804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u804_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#D9001B;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:526px;
  width:1241px;
  height:102px;
  display:flex;
  font-size:30px;
  color:#D9001B;
}
#u805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:286px;
  width:262px;
  height:141px;
  display:flex;
  font-size:28px;
}
#u806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:65px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:132px;
  width:157px;
  height:65px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 0, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:132px;
  width:157px;
  height:65px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 0, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:132px;
  width:157px;
  height:65px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
