body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-279px;
  width:1654px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:229px;
  width:1255px;
  height:60px;
}
#u2022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u2031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:255px;
  height:30px;
  display:flex;
}
#u2032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u2033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u2034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2035 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u2035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2036 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u2036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2037 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u2037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2038 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u2038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2039 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u2039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2040 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u2040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2041 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u2041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2042 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u2042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:30px;
  width:255px;
  height:30px;
  display:flex;
}
#u2043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:1769px;
  top:265px;
  width:73px;
  height:18px;
  display:flex;
}
#u2044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:323px;
  width:140px;
  height:40px;
  display:flex;
}
#u2045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1527px;
  height:155px;
  background:inherit;
  background-color:rgba(0, 50, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:10px;
  width:1527px;
  height:155px;
  display:flex;
  font-size:36px;
  color:#FFFFFF;
}
#u2046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:65px;
  background:inherit;
  background-color:rgba(5, 2, 189, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:132px;
  width:157px;
  height:65px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u2047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:65px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:132px;
  width:157px;
  height:65px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u2048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 0, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:132px;
  width:157px;
  height:65px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u2049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 0, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:132px;
  width:157px;
  height:65px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u2050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 0, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:132px;
  width:157px;
  height:65px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u2051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:783px;
  background:inherit;
  background-color:rgba(0, 50, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:229px;
  width:383px;
  height:783px;
  display:flex;
  font-size:36px;
  color:#FFFFFF;
}
#u2052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:344px;
  width:262px;
  height:141px;
  display:flex;
  font-size:28px;
}
#u2053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:141px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:523px;
  width:262px;
  height:141px;
  display:flex;
  font-size:28px;
}
#u2054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:714px;
  width:262px;
  height:141px;
  display:flex;
  font-size:28px;
}
#u2055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
